@mixin titulos{
	color:$gray;
	 font-size: 20px;
    font-weight: 700;
    border-bottom:1px solid #EA4748;
   	margin-bottom: 25px;
   		text-transform: $transform;
	    &:span{
	    border-bottom: 6px solid #EA4748;
	    }
	}