$red: #EA4748;
$gray: #696969;

$p-gray: #9d9d9d;
$back-gray: #FAFAFA;
$white: #FFFFFF;


$fb: #316DB7;
$tw: #17A8DD;
		$rss-org: #FF9204;
$red-line: 1px solid $red;
$transformacion: uppercase;

$graya:#777;